
<div class="mobileMenuContainer" ng-class="class" >
        <div class="leftMenuTopSec">
            <a href="#"><img src="images/leftMenuIconA.png" alt="" /></a>
            <span class="close1" ng-click="hideMenu()"><img src="images/leftMenuClose.png" alt="" /></span>
        </div>
        <div class="MenuSearchSec">
        	<div class="menuSearchContact"></div>
        </div>
        
        <div class="homeMenuTxt">
        	<ul>
                	<li ng-repeat="nav in navigation"><a href="{{nav.url}}">{{nav.name}}</a></li>
                   </ul>
        </div>
    </div>


<div class="topHeader">
        	<div class="leftmenuSec">
            	<span class="topMenuIcon" ng-click="showMenu()"><img src="images/top_menu.png" alt="" /></span>
            	<a href="#/" class="logoIcon"><img height="45" width="45" src="images/logoIcon.png" alt="" /></a>
            </div>
            <div class="rightSearchSec">
                <span class="topLiveTV"><a href="#" class="liveTV"><img src="images/liveTvIcon.png" alt="" /></a></span>
                <div class="searchIcon"><img src="images/searchIcon.png" alt="" /></div>
            </div>
        </div>
        <div class="breakingNewsSec" ng-class="class1">
        <span class="breakingNewClose" ng-click="breakingnews()"><img src="images/breakingNewClose.png" alt="" /></span>
        	<span class="breakingTxt">BREAKING <br><small>NEWS:</small></span>
            <p>'मदर्स डे' के मौके पर हाइक मैसेंजर का 'माइक्रोएप' मां को भेजें फूल</p>
            
        </div>
